include ../_ui/pros-item/pros-item

mixin pros
  section.pros.container
    .wrapper
      .pros__grid
        +pros-item('Только ответственные лица', 'Доступ к системе есть только у тревел-менеджеров и секретарей. Они планируют поездки для сотрудников, бронируют и покупают билеты', 'tasks')
        +pros-item('Сотрудники бронируют, но&nbsp;не покупают', 'Вы даете доступ сотрудникам: они сами выбирают билеты и отели. Оплатить поездку можно только после согласования с руководителем.', 'automatic')
        +pros-item('Сотрудники могут покупать в рамках лимитов', 'Компания настраивает тревел-политику: сотрудники покупают билеты в рамках установленных ограничений. Если билет стоит дороже, его нужно согласовать с руководством', 'money')

mixin pros-about
  section.pros.pros--about.container
    .wrapper
      .pros__grid
        +pros-item('Доступность услуг в любой точке страны', 'Мы понимаем, как важно иметь надежного партнера. Именно поэтому мы стараемся, чтобы наши продукты работали всегда и везде, и стремимся выполнять свои обещания, обеспечивать клиентов и партнеров всей необходимой информацией, обучать эффективной работе с нашими продуктами и сервисами.', 'accessibility')
        +pros-item('Прозрачность на всех этапах сотрудничества', 'Мы всегда предоставляем только достоверную и актуальную информацию касательно любых нюансов работы с нами, наших продуктов и сервисов, а также финансовых условий.', 'transparency')
        +pros-item('Абсолютная надежность во всём', 'Мы понимаем, как важно иметь надежного партнера. Именно поэтому мы стараемся, чтобы наши продукты работали всегда и везде, и стремимся выполнять свои обещания, обеспечивать клиентов и партнеров всей необходимой информацией, обучать эффективной работе с нашими продуктами и сервисами.', 'reliability')
        +pros-item('Искренность и открытость', 'Мы не только слушаем, но и слышим наших клиентов. Искреннее отношение и желание сделать максимум – основные приоритеты при работе с клиентами.', 'sincerity')
        +pros-item('Индивидуальный подход к каждому клиенту', 'Мы предлагаем не просто продукты и услуги, а комплексные решения в зависимости от потребностей и особенностей бизнеса наших клиентов.', 'like')
        +pros-item('Удобство и сервис высшего уровня', 'Мы нацелены на создание передовых продуктов и предоставление качественного сервиса, чтобы сделать жизнь клиента удобнее и проще, а его бизнес эффективнее.', 'convinience')