include ../_ui/tag/tag
include ../_ui/heading/heading
include ../_ui/advantage/advantage

mixin advantages
  section.advantages.container
    .advantages__wrapper.wrapper
      +tag('Быстро и удобно')
      +heading('Организуйте командировки для сотрудников')
      .advantages__grid
        +advantage('Без комиссий и абонентской платы', 'Билеты по тарифам авиакомпаний без наценок и посредников', 'commissions')
        +advantage('Без ручной работы', 'Контроль расходов и автоматическая выгрузка отчетов в 1С', 'automatic')
        +advantage('Кэшбек до 7%', 'От авиаперевозчиков и бонусы от "Аэрофлота"', 'cashback')
        +advantage('Бесплатная отмена билетов', 'В течение 1 часа после покупки даже с невозвратным тарифом', 'free')
        +advantage('Онлайн управление', 'Согласовывайте командировки через почту и управляйте бронированием через мобильное приложение', 'online')
        +advantage('Удобный поиск', 'Билеты по тарифам авиакомпаний без наценок и посредников', 'search')