mixin footer
  footer.footer.container
    .footer__wrapper.wrapper
      .footer__content
        .footer__logo
          .footer__logo-img
          p.footer__logo-name ППР Командировки
        .footer__nav
          .footer__list
            a.footer__list-item(href="possibilities.html") Возможности
            a.footer__list-item(href="about.html") О компании
            a.footer__list-item(href="contacts.html") Контакты
          .footer__list
            a.footer__list-item(href="mailto:sales@petrolplus.ru") sales@petrolplus.ru
            a.footer__list-item(href="tel:+78002229476") 8 800 222 94 76
      p.footer__copyright © 2000 - 2021, ООО «ППР» (Правообладатель). Все материалы, размещенные на сайте (включая название и описание товаров и услуг, фото и видео материалы, изображения, базы данных), а также дизайн сайта являются объектами авторского права и принадлежат Правообладателю. Копирование материалов сайта, их распространение, а также использование любым иным способом запрещены без письменного согласия Правообладателя. Все товары и услуги предоставляются только на основании договоров, заключенных с ООО «ППР». ООО «ППР» не предоставляет гарантий и не несет ответственности за товары и услуги, полученные по договорам, заключенным с иными лицами (независимо от использования карт ООО «ППР»). Будьте бдительны, используйте для получения информации и заказа карт только официальный сайт.