.compare
  width: calc(100% - 60px)
  margin-bottom: 100px
  padding: 30px 0
  border-radius: 20px
  background-color: #EFF2F6
  &__wrapper
    display: flex
    justify-content: space-between
    max-width: 100% !important
  &__block
    width: 50%
    padding: 70px 40px 80px
    border-radius: 20px
    &--highlight
      background-color: transparentize($green, .9)
      .tag
        background-color: $green
        color: #fff
      .compare-item__icon
        background-color: $green
        svg path
          fill: #fff
          &[stroke]
            stroke: $green
  &__list
    position: relative
    margin-top: 20px

@media only screen and (max-width: $adaptive)
  .compare
    width: 100%
    margin-bottom: 50px
    padding: 0
    &__wrapper
      max-width: 375px !important
      width: 100%
      flex-direction: column
    &__block
      width: calc(100% + 30px)
      margin-left: -15px
      padding: 50px 15px 45px