include ../_ui/heading/heading

mixin contacts
  section.contacts.container
    .contacts__wrapper.wrapper
      .contacts__mobile
        +heading('Контактная информация')
        p.contacts__desc Общество с ограниченной ответственностью «Передовые Платежные Решения». Сокращенное наименование ООО «ППР».
      .contacts__map.js-contacts-map
      .contacts__info
        +heading('Контактная информация')
        p.contacts__desc Общество с ограниченной ответственностью «Передовые Платежные Решения». Сокращенное наименование ООО «ППР».
        p.contacts__subheading Адрес офиса
        p.contacts__address 125315, г. Москва, Ленинградский пр-т, д. 72, корп. 2, этаж 6, помещение VIII, комната 1.
        p.contacts__subheading Телефон
        p.contacts__contact <a href="tel:8 (495) 280-01-10">8 (495) 280-01-10</a> <span>ПН-ПТ 9:00-18:00</span>
        p.contacts__subheading E-mail
        p.contacts__contact <a href="mailto:sales@petrolplus.ru">sales@petrolplus.ru</a>
        .contacts__credential
          p ИНН
          p 6729036694
        .contacts__credential
          p КПП
          p 771301001
        .contacts__credential
          p ОГРН
          p 1066731112161
        .contacts__credential
          p БИК
          p 044525297
        .contacts__credential
          p Р/C
          p 40702810701480002057