mixin cooperation
  section.cooperation.container.block
    .cooperation__wrapper.wrapper
      .cooperation__main
        .cooperation__logos
          .cooperation__logo
            include assets/ppr.svg
          .cooperation__logo
            include assets/smartway.svg
        p.cooperation__heading ППР в сотрудничестве со Smartway организует ваши бизнес-поездки по выгодным тарифам и без лишних хлопот
      .cooperation__sub
        .cooperation__advantage
          p.cooperation__advantage-title 20+ лет
          p.cooperation__advantage-desc находим оптимальные решения для бизнеса
        .cooperation__advantage
          p.cooperation__advantage-title 2500+
          p.cooperation__advantage-desc операций ежедневно
        .cooperation__advantage
          p.cooperation__advantage-title 1500+
          p.cooperation__advantage-desc компаний пользуются сервисом на постоянной основе
        .cooperation__advantage
          p.cooperation__advantage-title 1 000 000
          p.cooperation__advantage-desc отелей и 275 авиакомпаний по всему миру