include ../_ui/security-item/security-item

mixin security
  section.security.container
    .wrapper
      .security__grid
        +security-item('Только ответственные лица', 'Доступ к системе есть только у тревел-менеджеров и секретарей. Они планируют поездки для сотрудников, бронируют и покупают билеты', 'tasks')
        +security-item('Сотрудники бронируют, но&nbsp;не покупают', 'Вы даете доступ сотрудникам: они сами выбирают билеты и отели. Оплатить поездку можно только после согласования с руководителем.', 'automatic')
        +security-item('Сотрудники могут покупать в рамках лимитов', 'Компания настраивает тревел-политику: сотрудники покупают билеты в рамках установленных ограничений. Если билет стоит дороже, его нужно согласовать с руководством', 'money')