include ../components/header/header
include ../components/hero/hero
include ../components/advantages/advantages
include ../components/compare/compare
include ../components/organization/organization
include ../components/solutions/solutions
include ../components/pros/pros
include ../components/cooperation/cooperation
include ../components/app/app
include ../components/request/request
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title ППР Командировки
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      +hero
      +advantages
      +compare
      +organization
      +solutions
      +pros
      +cooperation
      +app
      +request
      +footer