include ../components/header/header
include ../components/possibility/possibility
include ../components/request/request
include ../components/footer/footer

doctype
html(lang="ru", prefix="og: http://ogp.me/ns#")
  head
    title ППР Командировки
    include assets/_metas
    include assets/_links
    include assets/_scripts
  body
    .page-wrapper
      +header
      h1.possibility-heading Возможности сервиса
      div
        +possibility('Поиск отелей и билетов онлайн', 'Вы можете искать авиабилеты, ж/д билеты, отели и трансферы онлайн', 'Как и на привычных сайтах по поиску билетов и размещения, вы просто вводите даты, а сервис найдет варианты по разным ценам.<br><br>Цены окончательные — вы не обнаружите комиссии и скрытые платежи на шаге оплаты и после нее.', 'Чтобы оформить билет, не придется каждый раз собирать и перепроверять паспортные данные коллег — их нужно добавить только один раз при создании учетной записи сотрудника. Она надежно хранится в его профиле.', 'img/possibility-1.svg')
        +possibility('Управление бронированием', 'Иногда рабочие поездки назначаются срочно', 'Если у сотрудников есть доступ к сервису, им не придется обращаться к секретарю или в агентство и ждать от них ответа — забронировать отели и билеты для командировки они смогут самостоятельно.<br><br>Так же, как и срочное назначение командировок, иногда происходят и их внезапные отмены или изменения. Любой сотрудник может оперативно изменить параметры поездки или совсем отменить ее.', 'Оперативность в таких ситуациях означает экономию: поменять билеты за четыре дня до полета зачастую дешевле, чем за три.<br><br>В сервисе можно отменить или заменить выбранные варианты без дополнительных денежных сборов.', 'img/possibility-2.svg')
        +possibility('Ручное и автоматическое согласование командировок', 'Большинство компаний согласуют командировки в почте или мессенджере. В переписке приходится пересылать файлы и уточнять детали.', 'Согласования затягиваются, цены меняются, а самые выгодные варианты быстро распродают.<br><br>Мы поможем оптимизировать процесс согласования, чтобы вы тратили меньше времени и получали билеты и отели по лучшим ценам.<br><br><br><br>Вы можете искать и согласовывать командировки в одном окне. Добавьте билеты и отельные номера в корзину и отправьте на согласование.<br><br>Ответственный за согласование видит все детали бронирования: стоимость, дату и время поездки, адрес отеля, название авиакомпании и условия отмены. Согласовать или отклонить запрос можно в один клик.', 'В настройках можно назначить разные права для пользователей системы. Пример настройки: рядовые сотрудники могут искать и отправлять на согласование, бухгалтер и руководитель могут согласовывать бронирования, топ-менеджеры могут искать и выкупать брони без согласования.', 'img/possibility-3.svg')
        +possibility('Тревел-политики для ограничения трат', 'Гибкая система доступов Smartway не позволит потратить на поездки больше, чем задумано в организации.', 'Вы выделяете несколько категорий сотрудников, и для каждой из них задаете лимиты по билетам или по отелям.<br><br>Если сотрудник бронирует командировку, которая выходит за рамки бюджета, то вместо кнопки «положить в корзину», он увидит кнопку «отправить на согласование». Пользователь с правами согласования сможет одобрить или не одобрить покупку.<br><br>Задать бюджет поездок можно и для каждого отдельного сотрудника с помощью Тревел-политики.', 'Кроме того, Тревел-политики позволяют:<br><br>Ограничить доступ к финансовой отчетности и закрывающим документам<br><br>Выбрать, кто из сотрудников может управлять учетными записями коллег<br><br>Настроить уведомления о заказах в сервисе для отдельных пользователей', 'img/possibility-4.svg')
        +possibility('Закрывающие документы по командировкам', 'В разделе «Отчетность» хранятся все закрывающие документы, которые потребуются бухгалтерии для оформления командировок.', 'Они доступны онлайн в любой момент, когда бы ни потребовались. Счета и акты можно скачать в формате pdf или xlsx, а можно отправить на электронную почту.', 'На старте можно задать параметры получения закрывающих документов:<br><br>Как часто: каждый день или раз в месяц<br><br>Какие именно документы нужны: связанные с конкретным проектом или по отдельным услугам<br><br>Оригиналы мы пришлем почтой.', 'img/possibility-5.svg')
      +request
      +footer