.organization
  margin-bottom: 65px
  &__map
    position: relative
    margin: 95px auto 0
    width: 909px
    height: 587px
    background:
      image: url('../img/organization-map.svg')
      size: contain
      position: center
      repeat: no-repeat
  &__path
    z-index: 1
    position: absolute
    top: 55px
    left: -120px
    width: 1059px
    height: 395px
    background:
      image: url('../img/organization-path.svg')
      size: contain
      position: center
      repeat: no-repeat