include ../_ui/tag/tag
include ../_ui/heading/heading

mixin solutions
  section.solutions
    .container
      .wrapper
        +tag('Решения')
        +heading('Поможем в любой ситуации')
        .solutions__tabs
          .solutions__tab.solutions__tab--active(data-tab="1")
            .solutions__tab-icon
              include assets/businessman.svg
            p.solutions__tab-name для руководителя
          .solutions__tab(data-tab="2")
            .solutions__tab-icon
              include assets/world.svg
            p.solutions__tab-name для тревел-менеджера
          .solutions__tab(data-tab="3")
            .solutions__tab-icon
              include assets/budget.svg
            p.solutions__tab-name для бухгалтера
          .solutions__tab(data-tab="4")
            .solutions__tab-icon
              include assets/team.svg
            p.solutions__tab-name для сотрудника
    .solutions__inner.container
      .wrapper
        .solutions__content.solutions__content--active(data-tab="1")
          img.solutions__image(src="img/solutions.svg", alt="")
          .solutions__content-info.solutions__content-info
            p.solutions__title Для руководителя
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Нет сервисных сборов за покупку билетов
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Кэшбэк за авиабилеты от&nbsp;перевозчиков
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Онлайн-статистика и аналитика в личном кабинете
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Удобная передача данных в ERP-систему
        .solutions__content(data-tab="2")
          img.solutions__image(src="img/solutions.svg", alt="")
          .solutions__content-info
            p.solutions__title Для тревел-менеджера
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Нет сервисных сборов за покупку билетов
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Кэшбэк за авиабилеты от&nbsp;перевозчиков
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Онлайн-статистика и аналитика в личном кабинете
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Удобная передача данных в ERP-систему
        .solutions__content(data-tab="3")
          img.solutions__image(src="img/solutions.svg", alt="")
          .solutions__content-info
            p.solutions__title Для бухгалтера
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Нет сервисных сборов за покупку билетов
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Кэшбэк за авиабилеты от&nbsp;перевозчиков
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Онлайн-статистика и аналитика в личном кабинете
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Удобная передача данных в ERP-систему
        .solutions__content(data-tab="4")
          img.solutions__image(src="img/solutions.svg", alt="")
          .solutions__content-info
            p.solutions__title Для сотрудника
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Нет сервисных сборов за покупку билетов
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Кэшбэк за авиабилеты от&nbsp;перевозчиков
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Онлайн-статистика и аналитика в личном кабинете
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Удобная передача данных в ERP-систему