include ../_ui/tag/tag
include ../_ui/heading/heading

mixin solutions
  section.solutions
    .container
      .wrapper
        +tag('Решения')
        +heading('Поможем в любой ситуации')
        .solutions__tabs
          .solutions__tab.solutions__tab--active(data-tab="1")
            .solutions__tab-icon
              include assets/businessman.svg
            p.solutions__tab-name для руководителя
          .solutions__tab(data-tab="2")
            .solutions__tab-icon
              include assets/world.svg
            p.solutions__tab-name для тревел-менеджера
          .solutions__tab(data-tab="3")
            .solutions__tab-icon
              include assets/budget.svg
            p.solutions__tab-name для бухгалтера
          .solutions__tab(data-tab="4")
            .solutions__tab-icon
              include assets/team.svg
            p.solutions__tab-name для сотрудника
        .solutions__select
          .solutions__select-item(data-tab="1")
            .solutions__select-icon
              include assets/businessman.svg
            p.solutions__select-name для руководителя
          .solutions__select-menu
            .solutions__select-item(data-tab="2")
              .solutions__select-icon
                include assets/world.svg
              p.solutions__select-name для тревел-менеджера
            .solutions__select-item(data-tab="3")
              .solutions__select-icon
                include assets/budget.svg
              p.solutions__select-name для бухгалтера
            .solutions__select-item(data-tab="4")
              .solutions__select-icon
                include assets/team.svg
              p.solutions__select-name для сотрудника
    .solutions__inner.container
      .wrapper
        .solutions__content.solutions__content--active(data-tab="1")
          +button('primary', 'link', 'Попробовать бесплатно', 'solutions__content-btn', {link: '#'})
          .solutions__image
            img.solutions__image-pic(src="img/solutions.svg", alt="")
            .solutions__image-cloud
            .solutions__image-flower
          .solutions__content-info.solutions__content-info
            p.solutions__title Для руководителя
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Нет сервисных сборов за покупку билетов
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Кэшбэк за авиабилеты от&nbsp;перевозчиков
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Онлайн-статистика и аналитика в личном кабинете
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Удобная передача данных в ERP-систему
        .solutions__content(data-tab="2")
          +button('primary', 'link', 'Попробовать бесплатно', 'solutions__content-btn', {link: '#'})
          .solutions__image
            img.solutions__image-pic(src="img/solutions.svg", alt="")
            .solutions__image-cloud
            .solutions__image-flower
          .solutions__content-info
            p.solutions__title Для тревел-менеджера
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Бронирование и покупка билетов в режиме онлайн. Не нужно ждать ответа агентства
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Бесплатная отмена авиабилетов в первый час после покупки. Даже невозвратных
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Гибкие системы согласования и тревел-политики с автоматическим контролем и отчетностью
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Профессиональная поддержка 24/7
        .solutions__content(data-tab="3")
          +button('primary', 'link', 'Попробовать бесплатно', 'solutions__content-btn', {link: '#'})
          .solutions__image
            img.solutions__image-pic(src="img/solutions.svg", alt="")
            .solutions__image-cloud
            .solutions__image-flower
          .solutions__content-info
            p.solutions__title Для бухгалтера
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Автоматическая загрузка авиабилетов и авансовых отчетов в 1С
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Справка о совершенном перелете в 1 клик
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Гибкие схемы закрывающих документов
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Формирование за любой период
              .solutions__advantage
                p.solutions__advantage-num 05
                p.solutions__advantage-text Разделение по видам услуг, центрам затрат и формирование на каждую покупку
              .solutions__advantage
                p.solutions__advantage-num 06
                p.solutions__advantage-text Копии всегда доступны в сервисе, а оригиналы отправляются через ЭДО или почту
        .solutions__content(data-tab="4")
          +button('primary', 'link', 'Попробовать бесплатно', 'solutions__content-btn', {link: '#'})
          .solutions__image
            img.solutions__image-pic(src="img/solutions.svg", alt="")
            .solutions__image-cloud
            .solutions__image-flower
          .solutions__content-info
            p.solutions__title Для сотрудника
            .solutions__advantages
              .solutions__advantage
                p.solutions__advantage-num 01
                p.solutions__advantage-text Более 1 млн отелей и 275 авиакомпаний
              .solutions__advantage
                p.solutions__advantage-num 02
                p.solutions__advantage-text Накопление милей за перелеты
              .solutions__advantage
                p.solutions__advantage-num 03
                p.solutions__advantage-text Согласование с руководителем с помощью встроенных инструментов
              .solutions__advantage
                p.solutions__advantage-num 04
                p.solutions__advantage-text Управление командировкой через мобильное приложение