.app
  margin: -40px auto -45px
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__heading
    margin-bottom: 10px
    line-height: 1.28
    font:
      size: 36px
      weight: 300
  &__desc
    margin-bottom: 20px
    line-height: 1.6
    font-size: 15px
  &__buttons
    display: flex
  &__download
    width: 135px
    height: 40px
    margin-right: 20px
    background:
      size: contain
      position: left center
      repeat: no-repeat
    &--google
      background-image: url('../img/google-play.svg')
    &--apple
      background-image: url('../img/app-store.svg')

@media only screen and (max-width: $adaptive)
  .app
    margin: -40px auto 50px
    &__wrapper
      flex-direction: column-reverse
    &__img
      width: 265px
      height: auto
      margin-bottom: 20px
    &__heading
      margin-bottom: 15px
      text-align: center
      font-size: 24px
    &__desc
      text-align: center
      br
        display: none
    &__buttons
      justify-content: center
    &__download
      width: calc(50% - 5px)
      height: auto
      margin: 0 5px
      padding-top: 16%
      background-position: center