mixin app
  section.app.container
    .app__wrapper.wrapper
      .app__content
        p.app__heading Установите приложение
        p.app__desc Все функции сервиса доступны в мобильном приложении. <br>Командировки всегда будут под контролем, даже если под рукой нет компьютера.
        .app__buttons
          a.app__download.app__download--apple(href="#")
          a.app__download.app__download--google(href="#")
      img.app__img(src="img/app.png", alt="")