include ../_ui/button/button

mixin header
  header.header.container
    .header__wrapper.wrapper
      .header__main
        a.header__logo(href="/") 
          .header__logo-img
          p.header__logo-name ППР Командировки
        a.header__link(href="possibilities.html") Возможности
        a.header__link(href="about.html") О компании
        a.header__link(href="contacts.html") Контакты
      .header__sub
        a.header__link(href="tel:+78002229476") 8 800 222 94 76
        +button('secondary', 'link', 'Попробовать бесплатно', 'header__btn', {link: '#'})
      .header__burger