mixin pros-item(title, desc, icon)
  .pros-item
    .pros-item__head
      .pros-item__icon
        if icon === 'tasks'
          include assets/tasks.svg
        if icon === 'automatic'
          include assets/automatic.svg
        if icon === 'money'
          include assets/money.svg
        if icon === 'accessibility'
          include assets/accessibility.svg
        if icon === 'transparency'
          include assets/transparency.svg
        if icon === 'sincerity'
          include assets/sincerity.svg
        if icon === 'convinience'
          include assets/convinience.svg
        if icon === 'like'
          include assets/like.svg
        if icon === 'reliability'
          include assets/reliability.svg
      p.pros-item__title!= title
    p.pros-item__desc= desc