include ../_ui/heading/heading

mixin about
  section.about.container
    .about__wrapper.wrapper
      .about__logo
        .about__logo-img
        p.about__logo-text ППР Командировки
      .about__info
        +heading('О компании')
        p.about__desc ООО «ППР» — это Восточно-Европейское подразделение компании FleetCor, мирового лидера в процессинге топливных карт, представленного в ключевых регионах мира.<br><br>Мы являемся крупнейшим независимым оператором топливных карт в России и Восточной Европе. Наша сеть принимает топливные карты во всех регионах России на более чем 13 000 тысяч АЗС.
        .about__advantages
          .about__advantage
            p.about__advantage-title > 20 лет
            p.about__advantage-desc на рынке в России
          .about__advantage
            p.about__advantage-title > 13 000 АЗС
            p.about__advantage-desc в России и ближнем зарубежье
          .about__advantage
            p.about__advantage-title > 45 000
            p.about__advantage-desc корпоративных клиентов
          .about__advantage
            p.about__advantage-title > 4 000 000
            p.about__advantage-desc транзакций ежемесячно